@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* variables & utility */
:root {
  --primary-ui-color: #080859;
  --text-ui-color : #B4B4B4;
  --darken-ui-color : #09093E;
  --third-ui-color: #1C1E4E;
  --fourth-ui-color: #A7D3EB;
  --sidebar-ui-color: #c8dffa;
  --title-ui-color : #FFE70B;

}

.privacy-policy {
  color: #000;
  font-family: 'inter', sans-serif;
}

.alur-urut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: var(--darken-ui-color);
  border-radius: 100%;
  color: #fff;
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: bold;
}

.bg-darken-ui-color {
    background-color: var(--darken-ui-color);
}

.bg-primary-ui-color {
  background: var(--primary-ui-color);
}

.bg-secondary-ui-color {
  background: var(--third-ui-color);
}

.primary-ui-color {
    color: var(--primary-ui-color);
}

.primary-ui-color-7p {
    color: var(--primary-ui-color);
    opacity: .7;
}

.title-ui-color {
  color: var(--title-ui-color);
}

.font-inter {
  font-family: 'inter', sans-serif;
}

.btn-light-gray {
  background-color: #B4B4B4;
  position: relative;
  /* z-index: 1; */
}

.btn-light-gray:hover {
  background-color: #B4B4B4;
}

.btn-light-gray:hover::after {
  top: 10px;
  left: 10px;
}

.btn-light-gray::after {
  transition: .3s;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid #B4B4B4;
  border-radius: 5px;
}

.btn-ui-secondary-style {
  font-family: 'inter', sans-serif;
  font-size: 16px;
  color: #fff;
  position: relative;
}

.btn-ui-secondary-style:hover::after {
  top: 10px;
  left: 10px;
}

.btn-ui-secondary-style::after {
  transition: .3s;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid #128CCE;
  border-radius: 5px;
}

.btn-ui-primary {
  font-family: 'inter', sans-serif;
  font-size: 16px;
  color: #fff;
  position: relative;
  transition: .4s !important;
}
.btn-ui-primary:hover::after {
  top: 10px;
  left: 10px;
}

.btn-ui-primary::after {
  transition: .3s;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid var(--primary-ui-color);
  border-radius: 5px;
}

/* footer */
.borra-top-start {
  border-top-left-radius: 40px !important;
  border-top-right-radius: 0 !important;
}
/* footer END */

/* produk kami======================= */
.produk-kami {
  
  background: #A7D3EB;
  border-radius: 0 30px 30px 0;
}

.votingkeun-wraper > .row {
z-index: 1;
}

.votingkeun-wraper > .row > .col-10::before {
content: '';
display: block;
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background-image: url('../asset/img/e-voting.png');
background-repeat: no-repeat;
background-position: center;
z-index: -1;
opacity: .2;
display: none;
}

.gawai-votingkeun {
height: 305px;
}

.gawai-votingkeun::after {
content: '';
width: 500px;
background-repeat: no-repeat;
height: 100%;
display: block;
background-image: url('../asset/img/e-voting.png');
background-position: 100px center;
background-size: cover;
transform: scaleX(-1);
z-index: -1;
opacity: .4;
position: relative;
}

.gawai-votingkeun > img {
left: -200px;
top: -90px;
}

.gawai-votingkeun > img:nth-child(2) {
left: -100px;
top: -90px;
}

.title-app {
  font-family: 'inter', sans-serif;
  font-weight: bold;
  font-size: 38px;
}

.desc-app {
  font-family: 'inter', sans-serif;
  color: var(--text-ui-color);
  font-size: 20px;
}

.desc-app-2 {
  font-family: 'inter', sans-serif;
  color: var(--text-ui-color);
  font-size: 18px;
}

@media (min-width: 768px) {
.logo-votingkeun {
  top: -50px;
  left: -20px;
}
}

/* produk kami======================= */

/* variables & utility END */

body {
  background-color: #599BBF;
}

/* =============================== */
/* navbar */
.header-brand{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #000;
  margin-left: -5px;
  font-weight: bold;
}

.nav-link {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #18191F;
  margin: 0 10px;
  font-size: 14px;
}

.active-nav {
  font-weight: bold;
}

.navbar-brand img {
  margin-top: -10px;
}

.bg-nav {
  background-color: #A7D3EB;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.btn-close:active, 
.btn-close:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 992.98px) {
  .bg-sidebar {
    background: linear-gradient(to top, #435ed8, #6ec1ee);
  }
}
/* navbar END */
/* =============================== */




/* =============== Home */

/* section 1 */
.home-ws1 .row .col-lg-5 img {
  z-index: -2 !important;
}

.title-main-content {
  font-family: 'inter', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 50px;
}

.desc-main-content {
  font-size: 32px;
  color: #fff;
}

.text-kodingkeun {
  color: #FFE70B;
}
/* section 1 END */

/* icon social */
.icon-social {
    position: absolute;
    right: 0px;
    top: 30px;
}
/* icon social END */


/* section 4 */
.home-ws4 {
  background-color: var(--fourth-ui-color);
  padding: 10px 50px 50px 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
/* section 4 END */


/* footer */.bg-footer-1 {
  background-color: var(--primary-ui-color);
  padding: 10px 50px 50px 0;
  border-top-right-radius: 40px;
  /* border-bottom-right-radius: 40px; */
}

.list-style-none {
  list-style: none;
}

.a-footer {
  color: #EEEFF4;
}

.a-footer-title {
  color: #F4F5F7;
  font-weight: 500;
  font-family: 'inter', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.new-footer-feature {
  font-family: 'Nanum Pen Script', cursive;
  color: #2EC5CE;
  font-size: 24px;
}

.footer-icon{
  display: block;
  position: absolute;
  left: -30px;
  bottom: -100px;
  height: 289px;
  width: 100%;
  opacity: .7;
}

.bg-footer-2 {
  content: '';
  display: block;
  height: 80px;
  background: #000;
}

.bg-footer-2 > span {
  color: #bcbec4;
}

/* footer END */

/* =============== Home END */


/* =============== About */

/* Ajid Quotes */
.main-quotes {
  font-family: 'inter', sans-serif;
  color: #09093E;
}

.main-quotes ~ span {
  font-family: 'inter', sans-serif;
  color: #04294F;
  font-size: 24px;
}

.main-quotes ~ p {
  font-family: 'inter', sans-serif;
  color: #04294F;
  font-size: 15px;
}

@media (max-width: 576px) {
  .ajid-quotes > .col-lg-4 {
    text-align: center !important;
  }

  .ajid-rounded {
    text-align: center !important;
  }
}
/* Ajid Quotes END */

/* section-1 */
.about-ws1 {
  margin-left: -20px;
  margin-top: 150px;
}

.about-s1 {
  background-color: var(--darken-ui-color);
  border-radius: 0 45px 45px 0;
}

.about-s1 > .col > h3 {
  margin-top: -15px;
}

.about-s1-main-content > .col-12 {
  line-height: 20px;
}

.butuh-apa-img {
  width: 700px;
}

@media (max-width: 834px) {
  .butuh-apa-img {
    width: 450px !important;
  }
}
/* section 1 END */


/* section-2 */
.about-ws2 {
  top: -450px; 
}

.about-s2 {
  background: #000;
  padding-top: 500px;
  z-index: -1;
  border-radius: 0 0 0 35px;
}

.about-sub-s2 {
  margin-top: -30px;
  z-index: -3;
  position: relative;
  border-radius: 0 0 0 35px;
  padding: 90px 0;
  border-color: #A7D3EB !important;
}


@media (max-width: 576px) {
  .about-ws2 {
    top: -350px; 
  }

  .about-s2 {
    padding-top: 400px;
  }
  .about-sub-s2 {
    padding: 40px 0;
  }

}

@media (max-width: 320px) {
  .about-s3 {
    margin-top: 100px !important;
  }
}

@media (max-width: 834px) {
  .about-ws2 {
    top: -300px; 
  }
  .about-s2 {
    padding-top: 350px;
  }
}
/* section-2 END */


/* section 3 */
.card-developer > .card-desc {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(9, 9, 62, 0) 0%, #000000 39.35%);
  border-radius: 0 0 20px 20px;
  left: 0;
  right: 0;
  line-height: 3px;
  padding-top: 14px;
}

.card-desc > h5 {
font-size: 17px;
}

.ajid-card {
transform: scale(1.2);
}

@media (max-width: 576px) {
.ajid-card {
  transform: scale(1);
}

}
@media (max-width: 990px) {
.ajid-card {
  transform: scale(1);
}
}
/* section 3 */


/* section 4 */
.about-s4 {
  border-color: #A7D3EB !important;
  border-radius: 0 35px 0 0;
}

.about-ws4 {
  left: -10px;
}
/* section 4 END */
/* =============== About END */


/* =============== Produck END */
/* section 2 */
.harigini {
  line-height: 5px;
}

@media (max-width: 370px) {
  .harigini {
    line-height: 20px !important;
  }
}
/* section 2 END */

/* section 3 */
.product-s3 {
  background-color: #04294F;
  border-radius: 30px 0 0 30px;
  padding-top: 500px;
  padding-bottom: 20px;
  margin-top: -440px;
  z-index: -2;
  position: relative;
}

@media (max-width: 576.8px) {
  .product-s3 {
    padding-top: 300px;
    margin-top: -250px;
  }
}

@media (max-width: 768px) {
  .product-s3 {
    padding-top: 300px;
    margin-top: -250px;
  }
}

@media (max-width: 935px) {
  .product-s3 {
    padding-top: 300px;
    margin-top: -250px;
  }
}
/* section 3 END */

/* section 4 */
.product-s4 {
  border-radius: 0 30px 30px 0;
  background-color: #04294F;
}
/* section 4 END */

/* section 6 */
.product-s6 {
  border-color: #A7D3EB !important;
  border-radius: 0 30px 0 0;
  margin-bottom: -50px;
}
/* section 6 END */
/* =============== Produck END */





